extends layouts/main

block content
    .form-container
        form(action=`/users${rotes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="current password")
            input(type="password", name="newPassword1", placeholder="New password")
            input(type="password", name="newPassword2", placeholder="Verify New password")
            input(type="submit", value="change Password")
